body {
margin: 0;
padding: 0;
display: flex;
justify-content: center; 
align-items: center; 
height: 100vh; 
}

.quadrado {
width: 100px;
height: 100px;
background-color: #007bff; 
animation: girarQuadrado 3s linear infinite; 
}

@keyframes girarQuadrado {
0% {
    transform: translate(-50%, -50%) rotate(0deg); 
}
100% {
    transform: translate(-50%, -50%) rotate(45deg); 
}
}
