body {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f0f0f0;
}

.quadrado {
width: 200px;
height: 200px;
background-color: #007bff;
animation: pulsarGirar 2s infinite;
}

@keyframes pulsarGirar {
0% {
    transform: scale(1) rotate(0deg);
}
50% {
    transform: scale(1.2) rotate(0deg);
}
100% {
    transform: scale(1) rotate(360deg);
}
}
