body {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(to top, #007bff, #000);
}

.formulario {
position: absolute;
top: -200px;
background: linear-gradient(to top, #007bff, #483D8B);
border: 1px solid black;
animation: entrar 1s forwards;

}

@keyframes entrar {
0% {
    top: -200px;
}
100% {
    top: calc(50% - 150px);
}
}

h2 {
text-align: center;
}

form {
display: flex;
flex-direction: column;
align-items: center;
}

input, button {
margin: 5px;
padding: 10px;
}

.menu {
    text-decoration: none;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}