body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-color: #f0f0f0; 
}

.quadrado {
  width: 0; 
  height: 0; 
  background-color: #007bff; 
  animation: aparecer 3s infinite; 
}

@keyframes aparecer {
  0% {
    width: 0; 
    height: 0; 
    background-color: #007bff; 
  }
  50% {
    width: 100px;
    height: 100px; 
    background-color: #fa2601; 
  }
  100% {
    width: 200px;
    height: 200px;
    background-color: #32CD32;
  }
}

.menu {
  text-decoration: none;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}